body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:ital,wght@0,400;1,700&family=Roboto:wght@400;700&family=Rubik+Wet+Paint&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto ,sans-serif;
}

html{
    scroll-behavior: smooth;
}
button{
  cursor: pointer;
}
.cursor{
    cursor: pointer;
}
a{
    list-style: none;
    color: white;
    text-decoration: none;
}

section{
    height: 100vh;
}

/* 
NAV BAR
*/


nav{
    height: 100px;
    margin: 0 auto;
    background-color: black;
    border-bottom: 3px solid rgba(51,51,51,.25);
}

.nav__search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}
.nav__container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    align-items: center;
    padding: 0 24px;
    height: 100%;
}

.nav__links{
    display: flex;
}

.nav__link{
    margin: 0 8px;
    font-size: 18px;
}

.logo{
    height: 100%;
    width: 240px;
}

.leagueImg{
    height: 100%;
    width: 100%;
}

.landing__background{
    background-image: url(./assets/Renata_0.jpg);
    background-size: 100%;
    min-height: 600px;
    background-repeat: no-repeat;
    position: relative;
}

.champion__info--btn{
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    color: white;
    border: none;
    padding: 24px 24px;
    font-size: 32px;
    font-weight: 700;
}


/* 

Favorites

*/



.container{
    padding: 56px 0;
    min-height: 100vh;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.recommended{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends__recommendation--container{
  margin-top: 64px;
  display: flex;
}

/*

Champions

*/

.champions{
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}
.champion{
  width: 20%;
  padding: 16px 16px;
}

.champion__name{
  text-align: center;
}
.champion__img--wrapper{
  width: 100%;
}

.champion__img{
  width: 100%;
}


.champion__filter--bar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.champion__filter--btn{
  margin: 8px 16px;
  border: none;
  padding: 0;
  background: transparent;
  font-size: 16px;
  font-weight: 700;
}
/* Button hover effects*/
.hover__effect{
  position: relative;
}
.hover__effect:after{
  content: "";
  position: absolute;
  bottom:-3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
  background: black;
}

.hover__effect:hover:after {
  left:0;
  width: 100%;
}


/* 
Champion Info
 */

.champion__background-img-blurred--container{
  width: 100%;
  max-height: 900px;
  overflow: hidden;
}

.champion__background-img-blurred{
  width: 100%;
  filter: blur(8px);
  transform: scale(1.1); 
}

.champion__background--container{
  position: absolute;
  margin-top: 40px;
}
.champion__page{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.champion__info--container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.champion__info{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.slider__btn--container{
  position: absolute;
  width: 100%;
}

.fa-arrow-left{
  position: absolute;
  font-size: 60px;
  color: white;
  left: 20%;
}
.fa-arrow-right{
  position: absolute;
  font-size: 60px;
  color: white;
  left: 80%
}


@media (max-width: 768px) {
    .champions{
  
    }
    .landing__background{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .champion__info--btn{
      position:initial;
      transform:none;
    }
}